# Environment variables
.env

# IDE files
*.iml
.idea/
dbinfo.py
.vscode/
.dbinfo_jcd.py
.dbifo_weather.py
.DS_Store

# Python
__pycache__/
*.pyc

# machine_learning
!machine_learning/process_file/.gitkeep
machine_learning/input_data/final_merged_data.csv